/* Mobile First View: */

h2 {
	display: none;
}

aside {
	background: #E3DFDE;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

/* Style the links in the aside section */
aside a {
	color: #5b5b5b;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}

/* Change the color of aside links on hover using mouse */
aside a:hover {
	background-color: #2c57f2;
	color: rgb(252, 248, 248);
}


/* Change the color of aside links on focus using tab key */
aside a:focus {
  background-color: #5569da;
  color: #ffffff;
  outline: none;
}


article {
	background-color: #E3DFDE;
	color: #5c5c5c;
	font-size: 120%;
	padding: 0 10px;
}

article a {
	color: #646464;
	padding: 5px;
	text-decoration: none;
}


#main_image {
	width: 100%;
}


/* For desktop: */
@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}

}