/* Mobile First View */
/* Photo Grid */
#row {
	display: flex;            /* turns the row of containers into a flex container */
	flex-wrap: wrap;
	padding: 0 12px;
	vertical-align: middle;
}

.column {                     /* applies styling to the column */
	margin-top: 0;               
	max-width: 100%;
	vertical-align: middle;
}

.column img {
	padding-bottom: 10px;
	width: 100%;
}


/* For desktops */
@media only screen and (min-width: 768px) {
	.column {
		max-width: 50%;
		padding: 0 6px;
	}

	#row {
	padding: 0 6px;
	}
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.column {
		max-width: 25%;
	}
}


